<h2>Reviews of Albums, written by me.</h2>

<div class="container">
    {{#albums}}
    <div class="row">
        <div class="col s12 l6">
            <div class="card">
                <div class="card-image">
                    <img src="{{{image}}}" />
                </div>
            </div>
        </div>

        <div class="col s12 l6 left-align">
            <h2 class="center-align">{{title}}</span></h2>
            <h3 class="grey-text center-align">{{artist}}, {{year}}</h3>

            <p class="flow-text">{{{review}}}</p>
        </div>
    </div>
    {{/albums}}
</div>
