<div class="container row">
    <div class="row"></div>
    <a href="/git" class="waves-effect waves-light btn teal">View all Git repositories!</a>
    <a href="/portfolio" class="waves-effect waves-light btn cyan darken-2">Browse my portfolio!</a>
</div>

<div class="parallax-container white-text code">
    <div class="parallax languages"><img src="images/code.jpg" /></div>

    <div class="container section row center">
        <div class="col s12 l8">
            <p class="flow-text">
                <p class="flow-text">I'm a web and software developer in Brighton who's fluent in <a href="https://nodejs.org/">Node.js</a> (Javascript), <a href="http://www.php.net/">PHP</a>, <a href="http://jekyllrb.com/">Jekyll</a>, <a href="https://en.wikipedia.org/wiki/HTML5">HTML5</a>, CSS3, and <a href="https://en.wikipedia.org/wiki/C%2B%2B">C++</a>. All of these things combined allows me to make powerful, scalable websites and software.
                If you're interested at all, feel free to find me at <a href="https://github.com/montyanderson">Github</a> and
                <a href="https://twitter.com/montyjanderson">Twitter</a>, or email me at <b>monty.linux@gmail.com</b>.
            </p>
        </div>

        <div class="col s12 l4">
            <p class="flow-text center-align">
                <span class="indigo-text">console</span>.<span class="red-text">log</span>(<span class="orange-text">"Hello, World!"</span>);
            </p>
        </div>
    </div>
</div>

<div class="container row">
    {{#repos}}
    <div class="col s12 l4">
         <div class="card darken-1">
                <div class="orange card-content white-text">
                    <span class="card-title">{{name}}</span>
                    <p>{{description}} <br />
                    <span class="red-text">{{language}}</span></p>
                </div>

                <div class="red card-action">
                    <a href="{{{html_url}}}">Github</a>
                    {{#homepage}}
                    <a href="{{{homepage}}}">Homepage</a>
                    {{/homepage}}
                </div>
        </div>
    </div>
    {{/repos}}
</div>

<div class="container row">

</div>

<div class="container row efficiency">
    <h2 class="col s12">Efficiency</h2>

    <p class="col s12 flow-text">
        I always use the right tools for the job and a no-compromise scalability  to speed, scalability, and usability.
    </p>

    <div class="col s12 valign-wrapper">
        {{#efficiency}}
            <div class="col s6 m4 l2 valign">
                <img src="{{{.}}}" />
            </div>
        {{/efficiency}}
    </div>
</div>

<div class="container row payment">
    <h2 class="col s12">Payment</h2>

    <p class="col s12 flow-text">
        Pay me using Paypal, Bitcoin, or <span class="dogecoin">Dogecoin</span>!
        <br />If you like something I've made, or some work I've done... why not send me a tip?
    </p>

    <pre class="col s12 bold flow-text left-align">
        Paypal Email <a>monty.linux@gmail.com</a>
        Dogecoin Address <a>DTjoDhcaoBnx1SCkS4rD45F47S7tqFpVpH</a>
    </pre>

    <div class="col s12 valign-wrapper">
        {{#payment}}
            <div class="col s4 valign">
                <img src="{{{.}}}" />
            </div>
        {{/payment}}
    </div>
</div>
