<div class="container row">
    <div class="row"></div>
    <a href="https://github.com/montyanderson?tab=repositories" class="waves-effect waves-light btn red darken-1">View all projects!</a>
    <a href="/portfolio" class="waves-effect waves-light btn amber darken-1">Browse my portfolio!</a>
</div>

<div class="parallax-container white-text code">
    <div class="parallax languages"><img src="images/code.jpg" /></div>

    <div class="container section row center">
        <div class="col s12 l8">
            <p class="flow-text">
                <p class="flow-text">Web and software developer in Brighton. Very familiar with a host of languages, frameworks, databases, and datasets. Has interests in both networking, Linux, Music, Maths, and Physics.
            </p>
        </div>

        <div class="col s12 l4">
            <p class="flow-text center-align">
                <span class="yellow-text">console</span>.<span class="red-text">log</span>(<span class="orange-text">"Hello, World!"</span>);
            </p>
        </div>
    </div>
</div>

<div class="container row">
    <div class="col s12">
        <h3><a href="#contact">Contact Me!</h3>
    </div>

    {{#repos}}
    <div class="col s12 l4">
         <div class="card darken-1">
                <div class="orange card-content white-text">
                    <span class="card-title">{{name}}</span>
                    <p>{{description}} <br />
                    <span class="red-text">{{language}}</span></p>
                </div>

                <div class="red card-action">
                    <a href="{{{html_url}}}">Github</a>
                    {{#homepage}}
                    <a href="{{{homepage}}}">Homepage</a>
                    {{/homepage}}
                </div>
        </div>
    </div>
    {{/repos}}
</div>

<div class="container row">

</div>

<div class="container row">

    <div class="col s12 m6">
        <h2>Efficiency</h2>

        <p class="flow-text">
            I always use the right tools for the job, even if it requires me to learn new languages, frameworks, or tools.
        </p>
    </div>

    <div class="col s12 m6">
        <h2>Security</h2>

        <p class="flow-text">
            Need to send me something sensitive? Feel free to send me encrypted infomation with my <a href="/public.key">PGP public key</a>.
        </p>
    </div>

    <div class="col s12 valign-wrapper technologies">
        {{#technologies}}
            <div class="col s2 valign">
                <img src="{{{.}}}" />
            </div>
        {{/technologies}}
    </div>

    <div class="col s12 m6">
        <h2>Payment</h2>

        <p class="flow-text">
            Pay me using Paypal, Bitcoin, or <span class="dogecoin">Dogecoin</span>!
            <br />If you like something I've made, or some work I've done... why not send me a tip?
        </p>
    </div>

    <div class="col s12 m6">
        <h2>Experience</h2>

        <p class="flow-text">
            I've been programming almost every day since I was seven! I've definitely been in the game a while.
        </p>
    </div>

    <pre class="col s12 bold flow-text left-align">
Paypal Email <a>monty.linux@gmail.com</a>
Dogecoin Address <a>DTjoDhcaoBnx1SCkS4rD45F47S7tqFpVpH</a>
    </pre>

</div>

<div class="container row">
    <div class="col s12" id="contact">
        <h2>Contact Me</h2>

        <p class="col s12 flow-text">
            I'm generally able to get back to you same-day! Feel free to email me anytime.
        </p>

        <pre class="col s12 flow-text bold left-align">
<a>monty.linux@gmail.com</a> - Work and general (<a href="/public.key">PGP Keys</a>)
<a>montyanderson@protonmail.ch</a> - Sensitive infomation / other (<a href="/public.key">PGP Keys</a>)
        </pre>

        <p class="col s12 flow-text">
            Find me on <a href="https://github.com/montyanderson">Github</a>, <a href="https://twitter.com/montyjanderson">Twitter</a>, and <a href="https://www.npmjs.com/~montyanderson">NPM</a>.
        </p>

        <div class="col s12 m6">
            <video autoplay loop poster="/images/tyrell.png" class="gif">
                <source src="/images/tyrell.webm" type="video/webm" />
            </video>
        </div>

        <p class="col s12 m6 flow-text">
            I look forward to working with you!
        </p>
    </div>
</div>
