<div class="row">
    <div class="col m12 l8">
        <p class="flow-text">
            Hello, I'm Monty Anderson! I'm a web application developer who's familiar with both node.js and PHP.
            You can find/contact me at <a href="https://github.com/montyanderson">Github</a> and
            <a href="https://twitter.com/montyjanderson">Twitter</a>.
        </p>
    </div>

    <div class="col m12 l4">
        <p class="flow-text">
            <span class="indigo-text">console</span>.<span class="red-text">log</span>(<span class="orange-text">"Hello, World!"</span>);
        </p>
    </div>
</div>

<div class="row">
    {{#repos}}
    <div class="col m12 l4">
         <div class="card darken-1">
                <div class="orange card-content white-text">
                    <span class="card-title">{{name}}</span>
                    <p>{{description}} <br />
                    <span class="red-text">{{language}}</span></p>
                </div>

                <div class="red card-action">
                    <a href="{{{html_url}}}">Github</a>
                    {{#homepage}}
                    <a href="{{{homepage}}}">Homepage</a>
                    {{/homepage}}
                </div>
        </div>
    </div>
    {{/repos}}
</div>

<div class="row">
    <a href="/git" class="waves-effect waves-light btn">View all Git repositories!</a>
</div>

<div class="row">
    <div class="col m6 l3">
        <div class="card pink accent-3">
            <div class="card-content white-text">
                <span class="card-title">{{totalRepos}}</span>
                <p>Repositories on Github</p>
            </div>
        </div>
    </div>

    <div class="col m6 l3">
        <div class="card pink accent-3">
            <div class="card-content white-text">
                <span class="card-title visited"></span>
                <p>Times you've visited this website</p>
            </div>
        </div>
    </div>
</div>
