<div class="container row portfolio">

    {{#portfolio}}
    <div class="col s12">
        <div class="card">
            <div class="card-image">
                <a href="{{{imageHref}}}"><img src="{{{image}}}"></a>
                <span class="card-title {{titleColor}}-text">{{title}}</span>
            </div>

            <div class="card-content">
                <h5>{{{description}}}</h5>
            </div>

            <div class="card-action">
                <h4>
                {{#links}}
                    <a class="blue-text" href="{{{href}}}">{{title}}</a>
                {{/links}}
                </h4>
            </div>
        </div>
    </div>

    {{/portfolio}}

    <div class="col s12">
        <h4><a href="/">Interested</a>?</h4>
    </div>
</div>
