<!DOCTYPE html>
<html>
	<head>

		<title>Monty Anderson - web and software developer, living in Brighton, United Kingdom.</title>

		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Monty Anderson - web and software developer, living in Brighton, United Kingdom." />

		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
		<link href="bundle.css" rel="stylesheet" />

	</head>
	<body class="grey lighten-4">

		<div class="row center">
			<h1 class="title"><a href="/">Monty Anderson</a></h1>
		</div>

		<nav>
			<div class="cyan darken-3 nav-wrapper">
				<div class="nav-wrapper container">
					<ul class="right">
						{{#pages}}
						<li><a href="{{{url}}}">{{title}}</a></li>
						{{/pages}}
					</ul>
				</div>
			</div>
		</nav>

		<div class="center">
			{{#title}}
				<h1 class="row">{{title}}</h1>
			{{/title}}

			{{>page}}
		</div>

		<script src="bundle.js"></script>
		<script src="materialize.js"></script>
	</body>
</html>
