<div class="row">
	<a class="cyan darken-2 waves-effect waves-purple btn" href="/" id="back"><i class="fa fa-arrow-left"></i> Back!</a>
	<a class="cyan darken-2 waves-effect waves-purple btn" href="https://github.com/montyanderson?tab=repositories" id="back" rel="me">
		<i class="fa fa-github-alt"></i> View on Github!
	</a>
</div>

<div id="git-projects" data-count="true">
	<div class="progress">
    	<div class="indeterminate"></div>
  	</div>
</div>
