extends ./layout.jade

block content
	p.flow-text Hello, I'm Monty Anderson! I'm a teenage developer interested Maths, server-side technologies, and crypto. I enjoy working 		on software that facilitates real-world freedom and liberty- particularly that which renders bulk collection of data by an adversary useless. I've attended 
		a(href="http://www.yrs.io/") Young Rewired State 
		from 2011 until 2015 and continue to work on projects for the greater good.
