<div class="jumbotron bio">
    <h4>Hello, I'm Monty Anderson! I'm a teenage developer interested Maths, server-side technologies, and crypto. I enjoy working on software that facilitates real-world freedom and liberty- particularly that which renders bulk collection of data by an adversary useless. I've attended <a href="http://www.yrs.io/">Young Rewired State</a> from 2011 until 2015 and continue to work on projects for the greater good.</h4>

    <!--<div class="row">
        <div class="col-md-4 text-left">
            <h1><i class="fa fa-university"></i></h1>
        </div>

        <div class="col-md-4 text-center">
            <h1><i class="fa fa-bar-chart"></i></h1>
        </div>

        <div class="col-md-4 text-right">
            <h1><i class="fa fa-building-o"></i></h1>
        </div>
    </div>-->
</div>

{{#if repos}}
<div class="row">
    {{#repos}}
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="{{html_url}}">{{name}}</a></div>
            <div class="panel-body">{{description}}</div>
        </div>
    </div>
    {{/repos}}
</div>
{{/if}}
