<!--About Me-->

<div class="row animated fadeIn">
	<div class="col m12 l8">
		<h2 class="flow-text">
			Hello! I'm <strong>Monty Anderson</strong> and I build <strong>modern</strong>,
			<strong>scalable</strong>, <strong>web</strong> applications. I live in Brighton, United Kingdom and
			if you're interested, please <a href="https://twitter.com/montyjanderson">tweet</a>
			me. Blog coming soon!
		</h2>

		<!--<a class="cyan darken-2 waves-effect waves-purple btn" href="/portfolio"><i class="fa fa-arrow-circle-right"></i> View Portfolio</a>-->
	</div>

	<div class="col m12 l4">
		<h2 class="flow-text">
			I'm the creator of <a href="http://blocks.montyanderson.net">LiveBlocks</a>,
			<a href="http://chat.montyanderson.net">anon-chat</a> and <a href="#">PartyTrak</a>.
		</h2>
	</div>
</div>

<!--Git Projects-->

<div id="git-projects" data-count="3">
	<div class="progress">
    	<div class="indeterminate"></div>
  	</div>
</div>


<div class="row">
	<a class="cyan darken-2 waves-effect waves-purple btn animated fadeInUpBig" id="git" href="/git"><i class="fa fa-git"></i> View all projects!</a>
</div>

<!--Instagram Photos-->

<div id="instagram-photos">
	<div class="progress">
    	<div class="indeterminate"></div>
  	</div>
</div>
