doctype html
html(lang="en")
	head
		title montyanderson.net
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")

	body
		nav.blue
			.nav-wrapper.container
				a.brand-logo(href="/") Monty Anderson
				
				ul.right.hide-on-med-and-down
					li
						a(href="/") Login
					li
						a(href="/") Home
				
				
		.container.row
			.col.s2
				br
				each repo in repos
					a(href="https://github.com/" + repo.owner + "/" + repo.name)=repo.name
					br
			
			.col.s10
				block content
