<div class="row">
	<a class="cyan darken-2 waves-effect waves-purple btn" href="/" id="back"><i class="fa fa-arrow-circle-left"></i> Back!</a>
</div>

<div class="row">
	<div class="col m12 l4">
        <div class="card">
            <div class="card-image">
              	<img src="yrs-crowd.jpg" class="blur">
              	<span class="card-title">Young Rewired State</span>
            </div>

            <div class="card-content">
            	<a href="http://www.yrs.io/">Young Rewired State</a> is a yearly competition, where under-18s compete to make the best
            	websites and applications. I've attended years <strong>2012</strong>, <strong>2013</strong>, and <strong>2014</strong>,
            	and have made a plethora of applications.
            </div>
        </div>
    </div>
</div>

<div class="row">
	<a class="cyan darken-2 waves-effect waves-purple btn" href="/" id="back"><i class="fa fa-arrow-circle-left"></i> Back!</a>
</div>
