<% extend "inc/layout" %>

<div class="row">
	<a class="waves-effect waves-light btn" href="/"><i class="fa fa-arrow-left"></i> Back!</a>
</div>

<div id="albums">
	<div class="progress">
    	<div class="indeterminate"></div>
  	</div>
</div>

<div class="row">
	<a class="waves-effect waves-light btn" href="/"><i class="fa fa-arrow-left"></i> Back!</a>
</div>

<script id="album-template" type="x-tmpl-mustache">
	<div class="col m12 l4">
        <div class="card">
            <div class="card-image">
              	<img src="{{image}}">
              	<span class="card-title">{{title}}</span>
            </div>
        </div>
    </div>
</script>

<script>
(function() {

	function getDiscogsAlbums() {
		$.ajax({
			url: "https://api.discogs.com/users/montyanderson/collection/folders/0/releases"
		}).done(function(releases) {
			$("#albums").html("");

			var i = 0;

			var render = function(data) {
				if(i % 3 == 0) { $("#albums").append("<div class='row'></div>") }

				$("#albums").children().last().append(
					Mustache.render($("#album-template").html(), data)
				);

				i++;
				console.log(i);
			}

			releases.releases.forEach(function(release) {
				$.ajax({
					url: "https://ws.audioscrobbler.com/2.0/",
					method: "GET",
					data: {
						method: "album.getinfo",
						api_key: "251fd1afd5d90f474d8e4955180ab08d",
						artist: release.basic_information.artists[0].name,
						album: release.basic_information.title,
						format: "JSON"
					}
				}).done(function(response) {
					console.log(response);

					var data = {
						image: response.album.image[3]["#text"],
						title: release.basic_information.title,
					}

					render(data);
				});
			});
		}).fail(function() {
			getDiscogsAlbums();
		});
	}

	getDiscogsAlbums();

})();
</script>