@import (inline) "../../node_modules/materialize-css/bin/materialize.css";

body {
    font-family: "Ubuntu";
}

.flowtext {
    font-size: 1em;
    line-height: normal;
}

.title {
    padding-top: 1%;
    margin: 3%;

    a {
        transition: 0.2s color;
        font-size: 8vw;
    }

    a:hover {
        color: #222;
    }
}

.m12 {
    //width: 100%;
}
