<!DOCTYPE html>
<html>
	<head>

		<title>Monty Anderson - web and software engineer, living in Brighton, United Kingdom.</title>

		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Monty Anderson - web and software engineer, living in Brighton, United Kingdom." />

		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
		<link href="bundle.css" rel="stylesheet" />

		<style>

		</style>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>

		<script id="photo-template" type="x-tmpl-mustache">
			<div class="col m12 l3">
		        <div class="card tooltip photo" data-tooltip="{{date}}" data-position="top" data-link="{{link}}">
		            <div class="card-image">
		              	<img src="{{image}}">
		              	<span class="card-title">{{title}}</span>
		            </div>
		        </div>
		    </div>
		</script>

		<script id="git-template" type="x-tmpl-mustache">
			<div class="col m12 l4">
			 	<div class="card blue-grey darken-1">
			            <div class="orange card-content white-text">
			              <span class="card-title">{{name}}</span>
			              <p>{{description}} <br /><span class="red-text">{{language}}</span></p>
			            </div>

			            <div class="red card-action">
			              <a href="{{html_url}}">Github</a>
			              <a href="{{homepage}}">Homepage</a>
			            </div>
			    </div>
			</div>
		</script>

	</head>
	<body class="grey lighten-4">

		<div class="row center hide-on-small-and-down">
			<h1 class="grey-text black-text" id="title">Monty Anderson</h1>
		</div>

		<nav>
			<div class="cyan darken-3 nav-wrapper">
				<div class="nav-wrapper container">
					<ul class="right">
						<li><a href="https://twitter.com/montyjanderson" rel="me"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://github.com/montyanderson"   rel="me"><i class="fa fa-github"></i></a></li>
					</ul>
				</div>
			</div>
		</nav>



	<div class="container center section" id="content">

		<!--Content-->

		{{>page}}

	</div>

	<!--Less than 360px wide fallback-->

	<style>
		.flowtext {
			font-size: 20px;
		}
	</style>

	<script>
	(function() {
		var resize = function() {
			var minsize = 360;

			if($(window).width() < 360) {
				console.log("unresponsive mode (>360px)");
				$(".flow-text").addClass("flowtext");
			} else {
				console.log("responsive mode (>360px)");
				$(".flow-text").removeClass("flowtext");
			}
		}

		resize();
		$(window).resize(resize);
	})();
	</script>

	<!--Footer-->

	</body>
</html>
